<% content_for :heading do %>
  <% I18n.with_locale @locale do %>
    <%= tag.h1 :lang => @locale, :dir => t("html.dir") do %>
      <%= t ".title" %>
    <% end %>
  <% end %>
<% end %>

<% I18n.with_locale @locale do %>
  <%= tag.div :lang => @locale, :dir => t("html.dir") do %>
      <p class="lead"><%= t ".lede_text" %></p>

      <p><%= t ".unofficial_notice" %></p>
      <p>
        <%= t ".built_on_html", :osm_project_link => link_to(t(".osm_project_link"),
                                                        "https://openstreetmap.org/") %>
      </p>

      <p><%= t ".purpose" %></p>
  <% end %>
<% end %>
